<ion-view view-title={{itemDetails.nameDisplay}}>
  <ion-content>
    <div class="item item-image">
      <img src={{itemDetails.labels.large}}>
    </div>
    <div class="card"><b>Description: </b>
      <div class="item item-text-wrap">
        {{itemDetails.description}}
      </div>
    </div>
    <ion-list>
      <ion-item><b>Year Created: </b>{{itemDetails.year}}</ion-item>
      <ion-item><b>Alcohol Content: </b>{{itemDetails.abv}}%</ion-item>
      <ion-item><b>How Bitter? </b>{{itemDetails.ibu}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
